.pop-up {
  --top: 0px;
  --left: 0px;
  --visibility: hidden;

  position: absolute;
  width: 200px;
  height: 75px;
  border: 2px solid;
  overflow: auto;
  background-color: #ffffff;
  left: var(--left);
  top: var(--top);
  visibility: var(--visibility);
}

ul {
  margin: 0px;
  padding-left: 0px;
  list-style-type: none;
}

li {
  padding-left: 4px;
}
li:hover {
  transition-duration: 0.4s;
  background-color: #d3d3d3;
}
li:active {
  background-color: #9b9b9b;
}
